<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.quotam"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/material_template_ic_product_icon_192px_dark_dark"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/material_template_ic_product_icon_192px_dark_dark"
        android:theme="@style/Theme.CustomMaterial">
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="text" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <service
            android:name="com.quotam.services.WallpaperService"
            android:exported="false"/>
        <service
            android:name="com.quotam.services.WidgetService"
            android:exported="false"/>
        <service
            android:name="com.quotam.services.NotificationService"
            android:exported="false"/>

        <receiver
            android:name="com.quotam.controller.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".activities.InitializationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomMaterial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.quotam.controller.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info"/>
        </receiver>
        <activity
            android:name=".activities.WidgetConfigActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_widget_config">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>